*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 500px;
}
#section4{
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
}
#grid1{
    width: 60%;
    margin : auto;
    display: grid;
    padding-top: 5%;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 11fr 10fr 15fr;
    justify-content:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
.box1 {
    
    border-right: solid 1px rgba(134, 134, 134, 0.26);
    border-bottom: solid 1px rgba(134, 134, 134, 0.26);
}
.box2 {
    border-right: solid 1px rgba(134, 134, 134, 0.26);
    border-bottom: solid 1px rgba(134, 134, 134, 0.26);
}
.box3 {
    border-bottom: solid 1px rgba(134, 134, 134, 0.26);
}
.box4 {
    padding-top: 10%;
    border-right: solid 1px rgba(134, 134, 134, 0.26);
    
}
.box5 {
    padding-top: 10%;
    border-right: solid 1px rgba(134, 134, 134, 0.26);
    
}
.box6{
    padding-top: 10%;
}
.boxtext{
    padding: 15px 15px;
}
.boxh3{
    padding-top: 3%;
}
.header1 h2 {
    margin-top: 3%;
   color: rgb(0, 0, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header1 p {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }

 #section5{
    background-image: url("./design-assets/bgk-middle.png");
    min-height: 60vh;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
 }
 #flexteam{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 25%;
    margin-right: 15%;

 }
 .person1{
    height: 30vh;
    min-width: 20%;
    background-color: rgb(110, 110, 110);
    margin: 0 10px;
 }

 .header2 h2 {
    margin-top: 3%;
   color: rgb(255, 255, 255);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header2 p {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }
